.header-div{
    width: 1200px;
    margin:40px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo-div{
    width:70px;
    height: 40px;
}
.nav-div{
    width: 500px;
    height: 40px;
}
.ul{
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.li-text{
    color:#3D37F1;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/* section 1 */

.section1{
    width:1200px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-box{
    width: 570px;
    height: 509px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-box-heading{
    color:#534D4D;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    width: 350px;
    line-height:60px ;
    margin-bottom:30px;
}
.left-box-text{
    color: #534D4D;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 110px;
}
.left-box-div{
    width: 200px;
    height: 50px;
    background-color: #3D37F1;
    border-radius: 38px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-box-text2{
    color:#FFFFFF;
    font-size:15px;
    font-family: 'Lato', sans-serif;
}
.right-box{
    width: 570px;
    height: 509px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.program-image{
     width:570px;
}